[user]
	name = Austin Schuh
	email = austin.linux@gmail.com
	signingkey = 415630D3CB0E9D66
[merge]
	tool = nvimdiff
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore

[alias]
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
	lg = log --oneline --graph --decorate
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
  	defaultBranch = main
[gpg]
  	program = /home/austin/bin/gpg2-loopback
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
