[user]
	name = Austin Schuh
	email = austin.linux@gmail.com
[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore

[alias]
	sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
	lg = log --oneline --graph --decorate
